* {
  padding: 0;
  margin: 0;
}

#root {
  background-color: rgb(50, 50, 50);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  grid-template-rows: 50px minmax(calc(100vh - 80px), auto) 30px;
}

a {
  color: white;
}