.events {
  margin: 2rem auto;
  width: 50vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  list-style: none;
}

.item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}

.item a:hover {
  transform: scale(1.02);
  background-color: gray
}

.item img {
  width: 33%;
  object-fit: cover;
}

.content {
  padding: 1rem;
}
.item h2 {
  margin: 0 0 1rem 0;
}
