.header {
  width: 100%;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-gray-900);
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}

button {
  font: inherit;
  padding: 3px 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
